name: CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  versions:
    uses: ./.github/workflows/versions.yaml

  deploy:
    needs: versions
    permissions:
      contents: read
      pages: write
      id-token: write
    concurrency:
      group: "pages"
      cancel-in-progress: false
    uses: ./.github/workflows/deploy.yaml
    with:
      node-version: ${{ needs.versions.outputs.node-version }}
      pnpm-version: ${{ needs.versions.outputs.pnpm-version }}
  release:
    uses: ./.github/workflows/release.yaml
    permissions:
      contents: write
      pull-requests: write
