name: CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  NODE_VERSION: "22.20.0"
  PNPM_VERSION: "10.28.0"

permissions:
  contents: write
  issues: write
  pull-requests: write
  pages: write
  id-token: write
  packages: write

concurrency:
  group: cd-${{ github.ref }}
  cancel-in-progress: false

jobs:
  release:
    name: Release application
    runs-on: ubuntu-latest
    outputs:
      release-created: ${{ steps.release.outputs.release_created }}
      major-tag: ${{ steps.release.outputs.major }}
      minor-tag: ${{ steps.release.outputs.minor }}
      patch-tag: ${{ steps.release.outputs.patch }}
    if: ${{ !contains(github.event.head_commit.message, '[skip gha]') }}
    steps:
      - name: Run Release Please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          target-branch: ${{ github.ref_name }}
          manifest-file: .github/release/.release-please-manifest.json
          config-file: ${{ github.ref_name == 'main' && '.github/release/release-please-config-release.json' || '.github/release/release-please-config-prerelease.json' }}

  build:
    name: Build application
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.release-created == 'true' }}
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build --preset github_pages

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./.output/public

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: build
    concurrency:
      group: "pages"
      cancel-in-progress: false
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
