name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - "**"
  workflow_dispatch:

jobs:
  versions:
    uses: ./.github/workflows/versions.yaml

  lint:
    needs: versions
    uses: ./.github/workflows/lint.yaml
    with:
      node-version: ${{ needs.versions.outputs.node-version }}
      bun-version: ${{ needs.versions.outputs.bun-version }}
